*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  background: -webkit-gradient(linear, left top, right top, from(orange), to(#ffff00));
  background: linear-gradient(to right, orange, #ffff00);
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#container #main-app {
  background-color: #eeee;
  width: 300px;
  border-radius: 0.7rem;
  overflow: hidden;
  position: relative;
}

#container #main-app nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  padding: 0.5rem;
  background-color: #fff;
}

#container #main-app nav h2 {
  cursor: pointer;
}

#container #main-app nav #nav-cart {
  padding: 0.1rem;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 0.9rem;
  cursor: pointer;
}

#container #main-app #dishes {
  padding: 1rem 0.7rem;
  height: 500px !important;
  overflow-y: scroll;
}

#container #main-app #dishes .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.182);
  margin-bottom: 0.7rem;
}

#container #main-app #dishes .card:last-child {
  margin: 0;
}

#container #main-app #dishes .card .demo-img-div {
  padding: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
}

#container #main-app #dishes .card .meal-details {
  width: 100%;
  padding: 0.5rem;
}

#container #main-app #dishes .card .meal-details .meal-name {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.817);
  font-weight: lighter;
}

#container #main-app #dishes .card .meal-details div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container #main-app #dishes .card .meal-details div .meal-price {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0.3rem 0;
}

#container #main-app #dishes .card .meal-details div .delivery-time {
  font-size: 0.8rem;
}

#container #main-app #dishes .card .meal-details .add-to-cart-btn {
  outline: none;
  border: none;
  background-color: #436bb5;
  padding: 0.4rem;
  border-radius: 3rem;
  color: #fff;
  cursor: pointer;
}

#container #main-app #dishes .card .meal-details .add-to-cart-btn:hover {
  background-color: #2a4881;
}

#container #main-app #dishes .card .meal-details .checked-to-cart {
  color: #0a6a1d;
  background-color: #fff;
  outline: none;
  border: none;
  padding: 0.4rem;
  border-radius: 3rem;
  cursor: pointer;
}

#container #main-app #dishes .card .meal-details .checked-to-cart:hover {
  background-color: #cfcfcf;
}

#container #main-app #cart-div {
  position: absolute;
  z-index: 5;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 78%;
  background-color: white;
  padding: 0.5rem;
  -webkit-box-shadow: 1px 5px 10px #000;
          box-shadow: 1px 5px 10px #000;
  -webkit-transition: ease-in-out left 600ms;
  transition: ease-in-out left 600ms;
}

#container #main-app #cart-div #cart-heading {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.302);
  padding-bottom: 0.3rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

#container #main-app #cart-div #cart-meals {
  height: 450px;
  overflow-y: scroll;
}

#container #main-app #cart-div #cart-meals .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.182);
  margin-bottom: 0.5rem;
}

#container #main-app #cart-div #cart-meals .card .cart-meal-image {
  padding: 0.2rem;
  font-size: 2rem;
}

#container #main-app #cart-div #cart-meals .card .meal-details {
  width: 100%;
  padding: 0.2rem;
}

#container #main-app #cart-div #cart-meals .card .meal-details .title_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container #main-app #cart-div #cart-meals .card .meal-details .title_price .cart-meal-name {
  color: #000;
  font-size: 0.9rem;
  text-align: center;
}

#container #main-app #cart-div #cart-meals .card .meal-details .title_price .cart-meal-price {
  font-size: 0.8rem;
  font-weight: lighter;
}

#container #main-app #cart-div #cart-meals .card .meal-details div {
  padding-top: 0.3rem;
  margin-bottom: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#container #main-app #cart-div #cart-meals .card .meal-details div .text {
  font-size: 0.855rem;
  font-weight: normal;
}

#container #main-app #cart-div #cart-meals .card .meal-details div .delivery-time {
  font-size: 0.8rem;
  font-weight: lighter;
}

#container #main-app #cart-div #cart-meals .card .meal-details .cart_remove_btn {
  margin-top: 0.4rem;
  padding: 0.2rem 0.3rem;
  background: #6a000ed5;
  outline: none;
  border: none;
  border-radius: 4rem;
  color: #e1e1e1;
  font-size: 0.8rem;
  cursor: pointer;
}

#container #main-app #cart-div #cart-meals .card .meal-details .cart_remove_btn:hover {
  background-color: #bd3b3b;
}

#container #main-app #cart-div #cart-meals .card .meal-details .disable {
  display: none !important;
  background-color: red;
}

#container #main-app .cart-div-toggle {
  left: 0% !important;
}

.disable {
  display: none !important;
}
/*# sourceMappingURL=main.css.map */